@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  /* Custom Colors for Preetesh Travels - Neon Electric Theme */
  --color-brand-blue: #00f0ff;
  /* Electric Cyan */
  --color-brand-purple: #7000ff;
  /* Neon Purple */
  --color-brand-dark: #050510;
  /* Deepest Void Blue */
  --color-brand-light: #f0f9ff;
  /* Ice White */

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-image: linear-gradient(to bottom right, var(--background), var(--color-brand-light));
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #050510;
    background-image: radial-gradient(circle at 50% 0%, #1a103c, #050510);
    /* Deep Neon Gradient */
  }
}