@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  /* Custom Colors for Pritesh Travels */
  --color-brand-gold: #D4Af37;
  --color-brand-dark: #0a0a0a;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}