@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  /* Custom Colors for Preetesh Travels */
  --color-brand-blue: #0ea5e9;
  /* Sky Blue */
  --color-brand-dark: #0f172a;
  /* Slate 900 */
  --color-brand-light: #f8fafc;
  /* Slate 50 */

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-image: linear-gradient(to bottom right, var(--background), var(--color-brand-light));
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom right, #000000, #1a202c);
    /* Subtle dark gradient */
  }
}